[run]
branch=True
source =
    lsqfitgp

[report]
show_missing=True

[html]
show_contexts=True

[paths]
github =
    /home/runner/work/lsqfitgp/lsqfitgp/lsqfitgp/
    /Users/runner/work/lsqfitgp/lsqfitgp/lsqfitgp/
    D:\a\lsqfitgp\lsqfitgp\lsqfitgp\
