[run]
branch=True
source =
    src/lsqfitgp

[report]
show_missing=True

[html]
show_contexts=True

[paths]
github =
    /home/runner/work/lsqfitgp/lsqfitgp/src/lsqfitgp/
    /Users/runner/work/lsqfitgp/lsqfitgp/src/lsqfitgp/
    D:\a\lsqfitgp\lsqfitgp\src\lsqfitgp\
