numpy<1.20 # minimum version required by jax 0.3
scipy<1.4 # first version not complaining when k==n in sparse.linalg.eigsh
gvar==11.10 # first version supporting gvar.gvar(y, ycov, x, xycov)
lsqfit<12
jax==0.3 # arbitrarily pinned to last major release at adoption
jaxlib==0.3 # arbitrarily pinned to last major release at adoption
pytest
coverage
